streamlit
pandas
matplotlib
torch
plotly
langchain-core
scikit-learn
langgraph
dotenv
python-dotenv
langchain-community
langchain-google-genai
protobuf
sounddevice
soundfile
numpy
faster-whisper
bs4
beautifulsoup4
langchain-text-splitters
darts
langchain